{% extends 'base.html' %}

{% block body %}

  <form class="m-5" action="/nonos/create/">

    <div class="form-group">
      <label for="product">Jap Product</label>
      <input type="text" class="form-control" id="product" name="product" placeholder="Enter product">
    </div>
    
    <div class="form-group">
      <label for="replace">Replacement</label>
      <input type="text" class="form-control" id="replace" name="replace" placeholder="Enter replacement">
    </div>

    <div class="form-group">
      <label for="info">Information</label>
      <input type="text" class="form-control" id="info" name="info" placeholder="Enter infomation">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

{% endblock %}